[submodule "GelReportModels"]
	path = GelReportModels
	url = https://github.com/genomicsengland/GelReportModels.git
[submodule "gelweb/gel2mdt/sv_extraction"]
	path = gelweb/gel2mdt/sv_extraction
	url = https://github.com/byronmews/sv_extraction.git
